#root {
  max-width: 1280px;
  margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Height of the footer */
  overflow-x: hidden; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
}
