@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(300deg, #051923, #001a29, #001a26);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
